<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width:device-width, initial-scale=1, user-scalable=no">

	<title>{{ page.title }} || {{ site.name }}</title>

	<!-- Prefetch DNS for external requests -->
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//themes.googleusercontent.com">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,600,300">

	<!-- TODO - insert social tags -->

	<meta name="apple-mobile-web-app-title" content="Gaurav">
	<meta name="description" content="{{site.description}}">
	<meta name="keywords" content="gaurav, singh, css, html, javascript, javascript, web app developer, gaurav singh">

	<!-- stylesheets -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/master.css">
</head>
<body>